
body {
  font-family: "Inter", sans-serif, "Helvetica", sans-serif, "Arial", sans-serif;
  margin: 0;
  display: flex;
  justify-content:center;
}

h1,h2,h3,h4,h5,h6 {
    letter-spacing: -.012em;
}

p {
  margin: 0;
  letter-spacing: -.010em;
  color: rgba(60,63,69);
}



#container {
display: flex;
flex-direction: column;
align-items: center;
max-width: 1200px;
padding: 0 16px;


}

nav {
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid rgba(20,27,36,.08);
position: fixed;
z-index: 100;
background: white;
max-width: 1200px;
width: 100%;
top: 0;
left: 50%;
padding: 12px 0;
transform: translateX(-50%);
box-sizing: border-box;
backdrop-filter: blur(7px);
-webkit-backdrop-filter:blur(7px);
background-color: rgba(255,255,255,.84);

}

nav h3 {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -.004em;
  color: rgb(60,60,65);

}

a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 80px;
  float: left;
  color: black;
  transition: all ease-out .155s;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.links a:nth-child(2), .links a:nth-child(3){
  padding: 0;
  margin-left: 12px;
  font-size: 10px;
  color: rgb(0,10,30,.55);
  font-weight: 500;
}

.links {
  display: flex;
  align-items: center;
}

a img {
  width: 24px;
  float: left;
  margin-right: 3px;
}

.twitter img {
  width: 22px;
}

.links a:nth-child(1) {
  background: rgb(30,30,30);
  color: white;
  margin-right: 0px;
    padding: 12px 22px;
}

a:hover {
  opacity: 0.7;
  transform: scale(98%);
}





h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: -.04rem;
  line-height: 1.3;
  margin: 200px 90px 20px 90px;
  color: rgb(70,70,70);

}



h1 span{
  color: rgba(20,24,30,1);
  font-weight: 500;
}



.intro-paragraph {
  font-weight: 400;
  margin-top: 40px;
  font-size: 16px;
  color:rgb(150,150,150);
  letter-spacing: -0.01em;
}

.subheading {
  margin-top: 60px;
  font-weight: 600;
  letter-spacing: 0.08em;
  text-align: center;
  margin-bottom: 8px;
  color: rgba(15,30,50,.6);
  font-size: 10px;
  padding: 8px 20px;
  background: rgbA(200,200,216,.15);
  border-radius: 100px;
  display: inline-block;

}

.subheading:nth-of-type(2) {
  margin-top: 120px;
}

.intro-text {
  opacity: 0;
  animation: animatein 1.1s cubic-bezier(.16,.53,0,1.01) forwards;
    animation-delay: .2s;
}

@keyframes animatein {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
      transform: translateY(0px);
  }
}



#image-grid {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  flex-wrap: nowrap;
  width: 100%;
  animation: animateinslow 1.2s cubic-bezier(.16,.53,0,1.01) forwards;
  animation-delay: .6s;
}

@keyframes animateinslow {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
      transform: translateY( 0px);
  }
}

.image-wrapper {
  max-width: 800px;
  padding: 16px;
  border-radius: 22px;
  border: 1px solid rgba(40,42,54,.06);
  background: rgba(40,42,52,.012);
  margin-top: 60px;
}

.image-wrapper img{
  border: 1px solid rgba(40,40,47,.04);
  box-sizing: border-box;
}


.image-grid-text h4 {
  color: rgb(25,28,39);
  font-weight:500;
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  display: inline-block;
  vertical-align: top;

}

.image-grid-text {
  width: 100%;
  float: left;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 4px;
}

.image-grid-text p {
  display: inline-block;
  font-size: 14px;
  margin: 0;
  font-weight: 400;
  margin-left: 6px;
  width: 60%;
  line-height: 1.5;
  color: rgb(75,78,83);
  vertical-align: top;
}

.about-me-section {
  display: flex;
  margin-top: 120px;
  justify-content: center;


}

.about-me-section img{
  width: 100%;
  max-width: 400px;
  margin-right: 20px;
  margin-bottom: 8px;
  border-radius: 6px;

}


.about-me-text{
  max-width: 400px;
  margin-top: -4px;
  line-height: 160%;
  font-weight: 400;
    font-size: 16px;
}

.photo-credit {
      color: rgba(75,76,85,.55);
  font-size: 10px;
}

.about-me-section a {
  background: black;
  color: white;
  margin-top: 40px;
}

.about-me-section a:hover {
  opacity: 0.82;
  background: black;
}

#image-grid img {
  width: 100%;
  float: left;
  border-radius: 6px 6px 2px 2px;
}



footer {
  width: 100%;
  border-top: 1px solid rgba(1,12,22,.1);
  margin-top: 120px;
padding: 16px 8px 20px 8px;
text-align: left;

}


footer p {
  font-size: 8px;
  color: rgba(1,10,12,.35);
  font-weight: 500;
  letter-spacing: normal;
}


/*TABLET*/
@media (max-width: 1220px) {

  h1 {
      margin: 180px 50px 20px 50px;
  }
  nav {
    padding: 0 16px;
  }
  a {
    font-size: 12px;
  }

  nav h3 {
    font-size: 16px;
  }

  nav {
    padding: 8px 20px;
  }

  .about-me-section {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.about-me-text{
  margin-top: 60px;
  margin-left: 0;
}

.image-grid-text h4 {

  vertical-align: top;
}

.about-me-section img{
  margin-right: 0;
}

}

/*PHONE*/
@media (max-width: 485px) {
  h1 {
    font-size: 28px;
    margin: 120px 20px 20px 20px;
  }

  .image-grid-text p{
    display: block;
    width: 100%;
    margin-left: 0;
    margin-top: 4px;
  }

  .image-grid-text {
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
    margin-bottom: 12px;
    margin-top: 20px;
  }

  .image-wrapper {
    padding: 6px;
    border-radius: 12px;
    border: 1px solid rgba(40,40,47,.12);
    background: rgba(40,42,62,.015);
    margin-top: 20px;
  }

  nav h3 {
    font-size: 16px;
  }

  nav {
    padding: 4px 16px;
  }
  .links a:nth-child(1) {
    background: black;
    color: white;
    margin-right: 2px;
  }

  .links span {
    display: none;
  }

}
